* {
	margin: 0px;
}
#wrapper {
	width: 810px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
}
#wrapper #header {
	text-align:right;
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	color: #333;
	height: 18px;
	padding-top: 4px;
	margin-right: 15px;
}
#wrapper #header a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #333;
	text-decoration: none;
}
#wrapper #logo {
	height: 170px;
}
#wrapper #logo img {
	margin-top: 25px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-left: 20px;
}
#wrapper #navbar {
	margin-bottom: 10px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 43px;
}
#wrapper #navbar a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: normal;
	color: #292929;
	text-decoration: none;
	display: block;
	float: left;
	height: 43px;
	width: 154px;
	clear: right;
	margin-right: 4px;
	margin-left: 4px;
	text-align: center;
	line-height: 41px;
	background-image: url(../images/CIT-Roll-Button.png);
	background-repeat: no-repeat;
	background-position: left top;
}
#wrapper #navbar a:hover {
	background-position: bottom;
}
#wrapper #menu {
	font-family: Arial, Helvetica, sans-serif;
	height: 20px;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 25px;
	font-size: 14px;
}
#wrapper #menu a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	text-decoration: none;
}
#wrapper #body {
}
#wrapper #body #main {
	background-image: url(../images/CIT-Community-Main.gif);
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px;
	padding: 0px;
	height: 550px;
}
#wrapper #body #main #connect {
	margin-top: 130px;
	margin-left: 386px;
	clear: right;
	float: left;
	margin-right: 248px;
}
#wrapper #body #main #connect a {
	background-image: url(../images/CIT-Connect-Roll.png);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 52px;
	width: 176px;
	clear: right;
	float: left;
}
#wrapper #body #main #connect a:hover {
	background-position: bottom;
}
#wrapper #body #main #serve {
	margin-top: 53px;
	margin-left: 167px;
	clear: right;
	float: left;
	margin-right: 467px;
}
#wrapper #body #main #serve  a{
	background-image: url(../images/CIT-Serve-roll.png);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 52px;
	width: 176px;
}
#wrapper #body #main #serve a:hover {
	background-position: bottom;
}
#wrapper #body #main #pray {
	clear: right;
	float: left;
	margin-left: 565px;
	margin-top: 5px;
	margin-right: 70px;
}
#wrapper #body #main #pray a {
	background-image: url(../images/CIT-Pray-roll.png);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 52px;
	width: 176px;
}
#wrapper #body #main #pray a:hover {
	background-position: bottom;
}
#wrapper #body #main #reach {
	clear: right;
	float: left;
	margin-top: 22px;
	margin-left: 353px;
	margin-right: 282px;
}
#wrapper #body #main #reach a {
	background-image: url(../images/CIT-Reach-roll.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 52px;
	width: 176px;
	display: block;
}
#wrapper #body #main #reach a:hover {
	background-position: bottom;
}
#wrapper #body #left {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
	text-decoration: none;
	width: 175px;
	margin-top: 35px;
	padding-left: 25px;
	clear: right;
	float: left;
	padding-right: 25px;
}
#wrapper #body #left img {
	margin-left: 12px;
}
#wrapper #body #left p {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	text-decoration: none;
	text-align: justify;
}
#wrapper #body #left h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	text-decoration: none;
	display: block;
	text-align: center;
	color: #FFF;
	background-color: #072a3b;
	height: 40px;
	line-height: 40px;
}
#wrapper #body #left h2 {
	font-size: 16px;
	color: #072A3B;
}
#wrapper #body #right {
	clear: right;
	float: left;
	width: 530px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #534e4c;
	background-image: url(../images/CIT-Page-Splitter.png);
	background-repeat: repeat-y;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	margin-top: 25px;
	margin-right: 15px;
	margin-bottom: 35px;
	margin-left: 0px;
}
#wrapper #body #right #serve {
	height: 112px;
	margin-right: auto;
	margin-left: auto;
	width: 425px;
}
#wrapper #body #right #serve a {
	color: #FFF;
	text-align: left;
	height: 112px;
	width: 425px;
	background-image: url(../images/CIT-Serve.png);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
}
#wrapper #body #right #serve a:hover {
	background-position: bottom;
}
#wrapper #body #right #connect {
	margin-right: auto;
	margin-left: auto;
	height: 112px;
	width: 425px;
}
#wrapper #body #right #connect a {
	color: #FFF;
	text-align: left;
	height: 112px;
	width: 425px;
	background-image: url(../images/CIT-Connect.png);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
}
#wrapper #body #right #connect a:hover {
	background-position: bottom;
}
#wrapper #body #right #reach {
	height: 112px;
	width: 425px;
	margin-right: auto;
	margin-left: auto;
}
#wrapper #body #right #reach a {
	color: #FFF;
	text-align: left;
	height: 112px;
	width: 425px;
	background-image: url(../images/CIT-Reach.png);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
}
#wrapper #body #right #reach a:hover {
	background-position: bottom;
}
#wrapper #body #right #pray {
	height: 112px;
	width: 425px;
	margin-top: 35px;
	margin-right: auto;
	margin-left: auto;
}
#wrapper #body #right #pray a {
	color: #FFF;
	text-align: left;
	height: 112px;
	width: 425px;
	background-image: url(../images/CIT-Pray.png);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
}
#wrapper #body #right #pray a:hover {
	background-position: bottom;
}
#wrapper #body #right #title {
}
#wrapper #body #right #location {
	clear: none;
	float: none;
	line-height: 22px;
	margin-bottom: 25px;
	background-color: #333;
	padding-left: 25px;
	height: 22px;
	padding-right: 25px;
	margin-right: 410px;
}
#wrapper #body #right #serviceareas {
	background-color: #bdb6b3;
	height: 22px;
	padding-top: 4px;
	padding-left: 25px;
}
#wrapper #body #right #info1  {
	clear: right;
	float: left;
	padding-left: 10px;
	margin-left: 15px;
	margin-top: 15px;
}
#wrapper #body #right #info2 {
	clear: right;
	float: left;
	margin-top: 0px;
	width: 340px;
	margin-bottom: 14px;
	margin-left: 30px;
}
#wrapper #body #right #spacer {
	width: 340px;
	height: 14px;
	margin-left: 30px;
}
#wrapper #body #right #area {
	float: none;
	clear: none;
	margin-top: 15px;
	margin-left: 25px;
	margin-right: 15px;
}
#wrapper #body #right p {
	font-size: 12px;
	text-decoration: none;
	color: #333;
	margin-left: 20px;
}
#wrapper #body #right a {
	font-family: Arial, Helvetica, sans-serif;
	color: #06C;
	text-decoration: none;
}
#wrapper #body #right h1 {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-decoration: none;
	line-height: 40px;
	display: block;
	background-color: #BDB6B3;
	margin-right: 15px;
	padding-left: 25px;
	margin-bottom: 25px;
	text-align: left;
	padding-right: 15px;
	height: 40px;
}
#wrapper #body #right h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFF;
	text-decoration: none;
	display: block;
	margin-bottom: 5px;
	background-color: #072a3b;
	margin-right: 390px;
	text-align: center;
	width: 117px;
}
#wrapper #body #right h3  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #F93;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}
#wrapper #body #right h4   {
	font-size: 13px;
	font-weight: bold;
	color: #072a3b;
}
#wrapper #body #right #form {
	clear: right;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-top: 15px;
	padding: 15px;
	border: 1px solid #CCC;
	color: #333;
	width: 400px;
	margin-left: 15px;
}
#wrapper #body #right #form form label {
	font-family: Arial, Helvetica, sans-serif;
}
#wrapper #body #right #form form #name {
	margin-left: 25px;
}
#wrapper #body #right #form form #email {
	margin-left: 27px;
}
#wrapper #body #right #form form #area {
	margin-left: 32px;
}
#wrapper #body #right #form form #intrest {
	margin-left: 15px;
}
#wrapper #social {
	height: 50px;
	clear: both;
	background-image: url(../images/CIT-Small-Social-Bar.png);
	background-repeat: no-repeat;
}
#wrapper #social a img{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#wrapper #social #newsletter {
	clear: right;
	float: left;
	margin-top: 17px;
	margin-left: 27px;
}
#wrapper #social #blog {
	clear: right;
	float: left;
	margin-top: 10px;
	margin-left: 45px;
}
#wrapper #social #flickr {
	clear: right;
	float: left;
	margin-top: 15px;
	margin-left: 50px;
}
#wrapper #social #vimeo {
	clear: right;
	float: left;
	margin-top: 13px;
	margin-left: 50px;
}
#wrapper #social #facebook {
	margin-top: 15px;
	margin-left: 48px;
	clear: right;
	float: left;
}
#wrapper #footer {
	height: 110px;
	margin: 0px;
	padding: 0px;
}
#wrapper #footer #minilogo {
	float: left;
	margin-top: 28px;
	margin-left: 20px;
	clear: right;
}
#wrapper #footer #minilogo a img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#wrapper #footer #sitemap {
	float: left;
	margin-top: 38px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #666;
	margin-left: 30px;
	clear: none;
}
#wrapper #footer #sitemap a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #666;
}
#wrapper #footer #copy {
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	clear: none;
	font-size: 10px;
	text-decoration: none;
	color: #666;
	margin-top: 1px;
	margin-left: 30px;
	width: 260px;
}
