#body {
	height: 337px;
}
#body #banner {
	clear: both;
	float: left;
	width: 470px;
	height: 294px;
	margin-top: 16px;
	margin-left: 14px;
	padding: 5px;
}
#body #upevents {
	clear: none;
	float: right;
	height: 304px;
	width: 286px;
	margin-top: 16px;
	margin-right: 14px;
}
#body #upevents h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #072A3B;
	text-decoration: none;
	line-height: 12px;
	margin-top: 1px;
}
#body #upevents h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #F90;
	text-decoration: none;
	line-height: 12px;
}
#body #upevents p {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 10px;
	font-weight: normal;
	text-decoration: none;
	color: #000;
}
#body #upevents #top {
	height: 38px;
	margin-top: 9px;
}
#body #upevents #top #text {
	margin-top: 6px;
	margin-left: 22px;
	clear: right;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	font-weight: lighter;
	font-size: 22px;
	font-style: normal;
}
#body #upevents #top #more {
	float: right;
	margin-top: 6px;
	margin-right: 10px;
}
#body #upevents #bottom {
	height: 250px;
	margin-top: 6px;
	clear: left;
	float: right;
}
#body #upevents #bottom #icon a {
	height: 200px;
	width: 275px;
	display: block;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	margin: 5px;
	
}
#body #upevents a:hover {
	background-position: bottom;
}
#body #upevents #bottom #text  {
	height: 30px;
	width: 264px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	margin-top: 9px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 12px;
}
#content {
	height: 375px;
}
#content #updates {
	clear: both;
	float: left;
	background-image: url(../images/CIT-Recent-Updates-Box.png);
	height: 253px;
	width: 460px;
	margin-left: 9px;
	margin-top: 15px;
	padding-top: 50px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}
#content #updates #info {
	font-family: Arial, Helvetica, sans-serif;
	height: 58px;
	width: 460px;
	margin-top: 6px;
}
#content #updates #info #text p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	line-height: 12px;
}
#content #updates #info #text a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #072A3B;
	text-decoration: none;
	line-height: 12px;
}
#content #updates #info #text h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
}
#content #updates #info #text h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #F90;
	text-decoration: none;
}
#content #updates #info #icon {
	height: 52px;
	width: 76px;
	margin-top: 3px;
	margin-right: 3px;
	margin-bottom: 3px;
	margin-left: 8px;
	clear: right;
	float: left;
}
#content #updates #info #text {
	width: 350px;
	height: 52px;
	clear: right;
	float: left;
	margin-top: 3px;
	margin-right: 3px;
	margin-bottom: 3px;
	margin-left: 20px;
}

#content #servloc {
	clear: none;
	float: right;
	height: 318px;
	width: 296px;
	background-image: url(../images/CIT-Sched-Loc-Box.png);
	margin-right: 9px;
	margin-top: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
}
#content #servloc h1  {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #072A3B;
	display: block;
	margin-bottom: 10px;
}
#content #servloc h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	display: block;
	clear: right;
	float: left;
	text-align: center;
	margin-right: 15px;
	margin-left: 45px;
	margin-top: 12px;
	color: #F93;
}
#content #servloc a {
	text-decoration: none;
}
#content #servloc #times {
	padding-top: 65px;
	padding-right: 25px;
	padding-bottom: 10px;
	padding-left: 40px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
	height: 105px;
}
#content #servloc #times #left {
	font-family: Arial, Helvetica, sans-serif;
	clear: right;
	float: left;
	margin-right: 20px;
}
#content #servloc #times #right {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 60px;
	float: left;
}
#content #servloc #address {
	height: 105px;
	padding-top: 0px;
	padding-right: 25px;
	padding-bottom: 10px;
	padding-left: 40px;
}