* {
	margin: 0px;
}
#wrapper {
	width: 810px;
	margin-right: auto;
	margin-left: auto;
	height: 0px;
}
#header {
	text-align:right;
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	color: #333;
	height: 18px;
	background-color: rgb(215,214,210);
	padding-top: 4px;
	margin-right: 15px;
}
#header a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #333;
	text-decoration: none;
}
#logo {
	height: 170px;
}
#logo img {
	margin-top: 25px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-left: 20px;
}
#navbar {
	margin-bottom: 10px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 43px;
}
#navbar a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: normal;
	color: #292929;
	text-decoration: none;
	display: block;
	float: left;
	height: 43px;
	width: 154px;
	clear: right;
	margin-right: 4px;
	margin-left: 4px;
	text-align: center;
	line-height: 41px;
	background-image: url(../images/CIT-Roll-Button.png);
	background-repeat: no-repeat;
	background-position: left top;
}
#navbar a:hover {
	background-position: bottom;
}

#social {
	height: 50px;
	clear: both;
	background-image: url(../images/CIT-Small-Social-Bar.png);
	background-repeat: no-repeat;
}
#social a img{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#social #newsletter {
	clear: right;
	float: left;
	margin-top: 17px;
	margin-left: 27px;
}
#social #blog {
	clear: right;
	float: left;
	margin-top: 10px;
	margin-left: 45px;
}
#social #flickr {
	clear: right;
	float: left;
	margin-top: 15px;
	margin-left: 50px;
}
#social #vimeo {
	clear: right;
	float: left;
	margin-top: 13px;
	margin-left: 50px;
}
#social #facebook {
	margin-top: 15px;
	margin-left: 48px;
	clear: right;
	float: left;
}
#footer {
	height: 130px;
}
#footer #minilogo {
	float: left;
	margin-top: 28px;
	margin-left: 20px;
	clear: right;
}
#footer #minilogo a img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#footer #sitemap {
	float: left;
	margin-top: 38px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #51443f;
	margin-left: 30px;
	clear: none;
}
#footer #sitemap a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #666;
}
#footer #copy {
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	clear: none;
	font-size: 10px;
	text-decoration: none;
	color: #666;
	margin-top: 1px;
	margin-left: 30px;
	width: 260px;
}
