* {
	margin: 0px;
}
#wrapper {
	width: 810px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
}
#wrapper #header {
	text-align:right;
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	color: #333;
	height: 18px;
	padding-top: 4px;
	margin-right: 15px;
}
#wrapper #header a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #333;
	text-decoration: none;
}
#wrapper #logo {
	height: 170px;
}
#wrapper #logo img {
	margin-top: 25px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-left: 20px;
}
#wrapper #navbar {
	margin-bottom: 10px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 43px;
}
#wrapper #navbar a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: normal;
	color: #292929;
	text-decoration: none;
	display: block;
	float: left;
	height: 43px;
	width: 154px;
	clear: right;
	margin-right: 4px;
	margin-left: 4px;
	text-align: center;
	line-height: 41px;
	background-image: url(../images/CIT-Roll-Button.png);
	background-repeat: no-repeat;
	background-position: left top;
}
#wrapper #navbar a:hover {
	background-position: bottom;
}
#wrapper #menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	text-decoration: none;
	height: 15px;
	margin-right: auto;
	margin-left: auto;
}
#wrapper #body {
}
#wrapper #body #left {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
	text-decoration: none;
	width: 175px;
	margin-top: 35px;
	padding-left: 25px;
	clear: right;
	float: left;
	padding-right: 25px;
}
#wrapper #body #left p {
	font-size: 12px;
}
#wrapper #body #left h2 {
	font-size: 16px;
	color: #072A3B;
}
#wrapper #body #right {
	clear: right;
	float: left;
	width: 530px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #333;
	background-image: url(../images/CIT-Page-Splitter.png);
	background-repeat: repeat-y;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	margin-top: 25px;
	margin-right: 25px;
	margin-bottom: 35px;
	margin-left: 0px;
}
#wrapper #body #right p {
	font-size: 12px;
	text-decoration: none;
}
#wrapper #body #right a {
	font-family: Arial, Helvetica, sans-serif;
	color: #06C;
	text-decoration: none;
}
#wrapper #body #right h1 {
	color: #06F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
}
#wrapper #body #right h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #072a3b;
	text-decoration: none;
}
#wrapper #social {
	height: 50px;
	clear: both;
	background-image: url(../images/CIT-Small-Social-Bar.png);
	background-repeat: no-repeat;
}
#wrapper #social a img{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#wrapper #social #newsletter {
	clear: right;
	float: left;
	margin-top: 17px;
	margin-left: 27px;
}
#wrapper #social #blog {
	clear: right;
	float: left;
	margin-top: 10px;
	margin-left: 45px;
}
#wrapper #social #flickr {
	clear: right;
	float: left;
	margin-top: 15px;
	margin-left: 50px;
}
#wrapper #social #vimeo {
	clear: right;
	float: left;
	margin-top: 13px;
	margin-left: 50px;
}
#wrapper #social #facebook {
	margin-top: 15px;
	margin-left: 48px;
	clear: right;
	float: left;
}
#wrapper #footer {
	height: 110px;
	margin: 0px;
	padding: 0px;
}
#wrapper #footer #minilogo {
	float: left;
	margin-top: 28px;
	margin-left: 20px;
	clear: right;
}
#wrapper #footer #minilogo a img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#wrapper #footer #sitemap {
	float: left;
	margin-top: 38px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #666;
	margin-left: 30px;
	clear: none;
}
#wrapper #footer #sitemap a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #666;
}
#wrapper #footer #copy {
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	clear: none;
	font-size: 10px;
	text-decoration: none;
	color: #666;
	margin-top: 1px;
	margin-left: 30px;
	width: 260px;
}
