user_guide/
ignored_files/
*.kpf
messages/
message_series/
admin/application/config/database.php
public/application/config/database.php
.htpasswd
OLD_STATIC_SITE/
logs/
.bash_history
.viminfo
.mysql_history
