<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /admin/

    #RewriteCond %{HTTPS} off
    #RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R]

    #RewriteCond %{SERVER_PORT} 80 
    #RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

    #__ Rewrite requests to anything here through index.php,
    #__ except requests already through it
    RewriteCond %{REQUEST_URI}  !^/admin/index.php/.*
    RewriteRule ^(.*)$ /admin/index.php/$1 [L]

</IfModule>
 
<IfModule !mod_rewrite.c>

    #__ If we don’t have mod_rewrite installed, all 404’s
    #__ can be sent to index.php, and everything works as normal.
    ErrorDocument 404 /admin/index.php

</IfModule>
