AuthType Basic
AuthName "Admin_area"
AuthUserFile /Users/chriscooper/Programming/Webroot/.htpasswd
Require user churchintoronto

<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /admin/

    #__ Rewrite requests to anything here through index.php,
    #__ except requests already through it
    RewriteCond %{REQUEST_URI}  !^/admin/index.php/.*
    RewriteRule ^(.*)$ /admin/index.php/$1 [L]

</IfModule>
 
<IfModule !mod_rewrite.c>

    #__ If we don?t have mod_rewrite installed, all 404?s
    #__ can be sent to index.php, and everything works as normal.
    ErrorDocument 404 /admin/index.php

</IfModule>

